In [66]:
import pandas as pd
df = pd.read_csv('data.csv',parse_dates=['Day'])
df.set_index('Day', inplace=True)
new_df = df.interpolate(method='time')
new_df

/tmp/ipykernel_6496/2734711398.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate(method='time')

            Temperature  Wind Speed   Event
Day
2025-06-21         32.0    8.000000   Windy
2025-06-22         31.0   19.000000  Cloudy
2025-06-25         26.0   10.000000     NaN
2025-06-26         26.0    7.000000   Sunny
2025-06-27         23.0    8.000000  Stormy
2025-06-28         20.0   12.000000   Rainy
2025-06-29         29.0   16.000000     NaN
2025-06-30         28.0   13.000000  Cloudy
2025-07-01         33.0   11.333333  Stormy
2025-07-02         31.5    9.666667     NaN
2025-07-03         30.0    8.000000     NaN
2025-07-04         26.0   18.000000  Cloudy
2025-07-05         33.0   18.000000  Cloudy

In [67]:
new_df = df.dropna()
new_df

            Temperature  Wind Speed   Event
Day
2025-06-21         32.0         8.0   Windy
2025-06-22         31.0        19.0  Cloudy
2025-06-26         26.0         7.0   Sunny
2025-06-30         28.0        13.0  Cloudy
2025-07-04         26.0        18.0  Cloudy

In [72]:
dt = pd.date_range('2025-06-21','2025-07-05')
idx = pd.DatetimeIndex(dt)
df = df.reindex(idx)
df.interpolate(method='time', inplace=True)
df.fillna({
    'Event':'No Event Defined'
}, inplace=True)
df

/tmp/ipykernel_6496/3689833012.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='time', inplace=True)

            Temperature  Wind Speed             Event
2025-06-21    32.000000    8.000000             Windy
2025-06-22    31.000000   19.000000            Cloudy
2025-06-23    29.750000   16.000000  No Event Defined
2025-06-24    28.500000   13.000000  No Event Defined
2025-06-25    27.250000   10.000000  No Event Defined
2025-06-26    26.000000    7.000000             Sunny
2025-06-27    23.000000    8.000000            Stormy
2025-06-28    20.000000   12.000000             Rainy
2025-06-29    24.000000   12.500000  No Event Defined
2025-06-30    28.000000   13.000000            Cloudy
2025-07-01    33.000000   11.333333            Stormy
2025-07-02    30.666667   13.555556  No Event Defined
2025-07-03    28.333333   15.777778  No Event Defined
2025-07-04    26.000000   18.000000            Cloudy
2025-07-05    33.000000   18.000000            Cloudy